<div class="banner">
    <div class="banner-text">
        <h1>A joke a day keeps the doctor away</h1>
        <i>If you joke wrong way, your teeth have to pay. (Serious)</i>
    </div>
</div>
<div class="content">
    <div class="joke">
        <p> {{jokes.content}} </p>
    </div>
    <div class="vote">
        <div class="like">
            <span>This is Funny!</span>
        </div>
        <div class="dislike">
            <span>This is not funny.</span>
        </div>
    </div>
</div>